.marquee-container {
    width: 800px;
    overflow: hidden;
    display: inline-block;
}

.marquee {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    /* Atur sesuai kebutuhan */
    display: block;
}
